@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat' !important;
}
body,html{
  overflow-x: hidden;
}
.primary{
  background-color: #464094;
  padding : 5px 20px;
  border: none;
  border-radius: 10px;
  color:white
}